[submodule "pimoroni-pico"]
	path = pimoroni-pico
	url = https://github.com/pimoroni/pimoroni-pico
[submodule "BME68x_SensorAPI"]
	path = BME68x_SensorAPI
	url = https://github.com/boschsensortec/BME68x_SensorAPI.git
	branch = master
